.container {
    width: 2.97rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.typeWrap {
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: 100% 100%;
}

.am-grid-item-content {
    padding: 0px !important;
}

.am-grid.am-grid-line .am-flexbox {
    margin-bottom: 0.15rem;
}

.am-grid .am-flexbox {
    background: none !important;
}

.gridItem {
    width: 1.38rem;
    height: 0.50rem;
    line-height: 0.50rem;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    font-size: 0.12rem;
    background-color: orangered;
}

.am-grid.am-grid-line:not(.am-grid-carousel) {
    border: none !important;
}

.am-grid.am-grid-line:not(.am-grid-carousel)::after {
    width: 0px !important;
}

.am-grid.am-grid-line .am-flexbox {
    border-bottom: none !important;
}

.am-grid.am-grid-line .am-flexbox::after {
    height: 0px !important;
}

.am-grid.am-grid-line .am-flexbox .am-flexbox-item:first-child::before {
    width: 0px !important;
}

.am-grid.am-grid-line .am-flexbox .am-flexbox-item:first-child, .am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:last-child) {
    border: none !important;
}

.am-grid.am-grid-line .am-flexbox .am-flexbox-item:not(:last-child)::after {
    width: 0px !important;
}